.section-padding {
   padding: 60px 0 60px 0;
}
.section-padding:nth-child(3) {
   display: none;
   @media screen and (min-width: 1200px) {
      display: block;
   }
}
.section:nth-child(3) {
   padding: 0 0 94px 0;
}
.section:nth-child(4) {
   background-color: #f5f4fa;
}
